@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Интернет магазин стульев";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>This is Layout</header>

    <div>
        <a href="~/Chair/List">List chairs</a>
        @*<a href="">Page categories</a>*@
        @*<p><a href="">Add new category</a></p>*@
        @*<p><a href="">Add new chair</a></p>*@
    </div>

    <div>
        @RenderBody()
    </div>


</body>
</html>

