@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>This is Layout</header>

    <div>
        <p><a href="~/Chair/List">Page list chairs</a></p>
        <p><a href="">Page categories</a></p>
        <p><a href="">Add new category</a></p>
        <p><a href="">Add new chair</a></p>
    </div>

    <div>
        @RenderBody()
    </div>


</body>
</html>

